<!-- <p>cards works!</p> -->
<!-- <p>cards works!</p> -->
<div class="starting_image">
    <div class="starting_image_overlay"></div>
    <div class="container-fluid starting">
        <p class="starting_top_text">
            Welcome to
        </p>
        <p class="starting_sub_text">
            Ashirbad Trading Company Limited.
        </p>
    </div>
</div>
    
<section class="section-mr">
    <div class="container">
        <div class="row">
            <div class="col-12 section-heading">
                <h2>
                    About Us
                </h2>
                <h3>
                    Namaste!
                </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about">
                    <p  class="about-heading">
                        Our Journey Since 90's 
                    </p>
                    <p class="about-text">
                        We begin our commercial journey way back in the 90s as the sole importer of Nepalese Handicrafts in Belgium.
						Back then it was a trend; every Nepalese visiting Europe brings along authentic Nepali food products like Gundruk (fermented dried vegetables), Achar (pickle), Wai Wai (Nepali Noodles), Mithai (Sweets) and many more for personal consumption.  
						Nepalese wherever they go, always crave for their local delicacies and taste. 
						The appetite for typical Nepali food among Nepalese as well as foreigners is growing bigger these days. 
                    </p>
                </div>
                <div class="col-12 text center">
                    <button class="btn btn-about-us" (click)="fnNavigateTo('about-us')">Read More</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../../../assets/images/Banner/banner2.PNG" alt="" class="img-fluid">
            </div>
        </div>
    </div>    
</section>

<section class="section-mr">
    <div class="container">
        <div class="row">
            <div class="col-12 text center">
                <h2 class="products-heading">
                    Our Products
                </h2>
                <h3 class="products-sub-heading">
                    Our Main Products and Offerings
                </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="products-box">
                   <ul>
                       <li class="pb-3 position-relative">
                           <div class="products-img pull-left mr-3">
                               <img src="../../../assets/images/Products/item1.JPG" width="70px" height="56px" alt="" class="img-fluid">
                           </div>
                           <div class="products-text">
                            <p class="products-text-heading">
                                Liquor
                            </p>
                           </div>
                       </li>
                   </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="products-collage">
                    <div class="products-collage-overlay"></div>
                    <button class="btn btn-products" (click)="fnNavigateTo('products')">View More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="setction-mr dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-us"> 
                    Contact Us
                </h2>
            </div>
        </div>
    </div>
    <div class="contact-strip mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <i class="fa fa-envelope-o"></i>
                    <div class="contact-info">
                        <h4>
                            Email
                        </h4>
                        <a href="mailto:avi.shrestha.775@gmail.com">
                            avi.shrestha.775@gmail.com
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <i class="fa fa-phone"></i>
                    <div class="contact-info">
                        <h4>
                            Phone
                        </h4>
                        <a href="tel:+977-9843597381">
                            +977-9843597381
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <i class="fa fa-map-o"></i>
                    <div class="contact-info">
                        <h4>
                           Location
                        </h4>
                        <a href="mailto:avi.shrestha.775@gmail.com">
                            avi.shrestha.775@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>