<!-- <p>about-us works!</p> -->
<section class="about-bg">
    <div class="about-bg_overlay"></div>
    <div class="about-banner">
        <p class="top-text">
            About Us
        </p>
    </div>
</section>

<section class="section-mr">
    <section class="container">
        <div class="row">
            <div class="col-12 section-heading">
                <h3>
                    Origin Of Company
                </h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about">
                    <p class="about-text">
						Namaste!!!!
					</p>
				</div>
				<div class="about">	
                    <p class="about-text">
                        We begin our commercial journey way back in the 90s as the sole importer of Nepalese Handicrafts in Belgium.
						Back then it was a trend; every Nepalese visiting Europe brings along authentic Nepali food products like Gundruk (fermented dried vegetables), Achar (pickle), Wai Wai (Nepali Noodles), Mithai (Sweets) and many more for personal consumption.  
						Nepalese wherever they go, always crave for their local delicacies and taste. 
						The appetite for typical Nepali food among Nepalese as well as foreigners is growing bigger these days. 
                    </p>
                </div>
				<div class="about">
					<p class="about-text">
						We launched the first line of Nepali products – including Wai Wai and Gorkha Beer in 2006 targeting the Nepalese customers. 
						 The starting was not as lucrative as we expected. Like any business venture, it took us some time to reach the targeted Nepali consumers and build the market. 
						  Initially, we did door to door selling and even took part in food festivals and organized street festivals to sell the products. 
					</p>
				</div>
                <div class="about">
                    <p class="about-text">
						Ashirbad Trading Limited Company is based on providing most of the Nepali products throughout Europe and other countries. 
						The main idea of this company is to provide the best out of the best Nepali products that are solely produced in the local market of the Nepalese street. 
						It has also created a mutual bonding among other countries as large number of people from Nepal are living abroad and desires to have their own tastes of food as well as other items that make them feel the presence of their own culture.
						As large quantity of items are exported to the distributor and wholesaler who are only authorized to place order within a specific or limited range over a period of time.
						We aim to make Nepali products popular among non-Nepalese as well as international consumers and make it easily avail for everyone through different stores, groceries in Europe.
						We want Non-Nepali and international consumers especially Europeans, to experience a unique taste of Nepali products and enjoy the local Nepali delicacies in their home town. 
						We are offering them an opportunity to explore one of the world’s best cuisines and learn about our unique Nepali culinary art too. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
				<video autoplay controls loop width="100%">
					<source src="../../../assets/videos/VISIT NEPAL 2020 _ TRAVEL NEPAL.mp4" type="video/mp4">
				</video>
			</div>
        </div>
    </section>
</section>

<section class="section-mr dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase team-title">
                    Meet Our Company's Founder
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <img src="../../../assets/images/authors/CEO.jpg" class="img-fluid img-width" alt="">
                <div class="team-info">
                    <h3>
                        Rajani Pradhan
                    </h3>
                    <p>
                        Founder
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <img src="../../../assets/images/authors/CEO.jpg" alt="">
                <div class="team-info">
                    <h3>
                        Rabindra Man Shrestha
                    </h3>
                    <p>
                        CEO
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <img src="../../../assets/images/authors/CEO.jpg " alt="">
                <div class="team-info">
                    <h3>
                        Sajani Pradhan
                    </h3>
                    <p>
                        Managing Director 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>